<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENABLE_TURBO_264</key>
	<false/>
	<key>ENABLE_PROGRAM_DELETION</key>
	<false/>
	<key>TURBO_264_MAX_ATTEMPTS</key>
	<integer>20</integer>
	<key>PLEX_UPDATE_URL</key>
	<string>http://127.0.0.1:32400/library/sections/2/refresh?turbo=1</string>
	<key>TEMP_PATH</key>
	<string>/path/to/temp/files</string>
	<key>TARGET_PATH</key>
	<string>/path/to/plex/tv/library</string>
	<key>LOG_FILENAME</key>
	<string>/tmp/eyetv-export-custom.log</string>
	<key>TARGET_TYPE</key>
	<string>mkv</string>
</dict>
</plist>
